* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  width: 100vw;
  height: 100vh;
  background: url('https://i.ibb.co/NVDB1sb/Christian-background.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

#navbar h2 {
  font-weight: 400; 
}

#navbar {
  position: absolute;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
