* {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#header {
  width: calc(100vw - 30px);
  height: auto;
  background: #fff;
  box-shadow: 0 0 5px 0 #0003;
  padding: 15px;
}

#header h1, #header h2 {
  display: inline; 
}

#header h2 {
  font-weight: 400; 
}
